/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
	.main-btn{
		padding: 16px 38px;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.contact-form button{
		background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	section,.main-feed{ 
		padding: 80px 0;
	}
	header .toggle-menu{
		opacity: 0;
		visibility: hidden;
	}
	h1,.like-one{
		font-size: 48px;
	}
	h2,.like-two{
		font-size: 36px;
	}
	h3,.like-three{
		font-size: 28px;
	}
	h4,.like-four{
		font-size: 24px;
	}
	h5,.like-five{
		font-size: 20px;
	}
	.first-screen .home-title{
		text-align: left;
	}
	.first-screen .home-title span::before{
		width: 120px;
	}
	.container-feed-masonry{
		column-count: 2;
		column-gap: 16px;
	}
	.first-screen{
		padding-top: 40px;
	}
	.contact-widgets{
		align-items: flex-start;
    flex-flow: column;
	}
	.contact-widgets *{
		margin-bottom: 32px;
	}
	.form-floating label{
		font-size: 16px;
	}

	.container-feed-masonry figure{
		margin-bottom: 24px;
	}
	.main-feed{
		padding-top: 32px;
	}
	.filters{
		overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
		margin-bottom: 0;
		button{
			width: 100%;
		}
	}
	header {
		.toggle-menu{
			display: none;
		}
		.active.toggle-menu{
			display: flex;
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			padding: 12px;
			flex-flow: column;
			justify-content: space-between;
			z-index: 20;
			background: #121619;
			visibility: visible;
			opacity: 1;
		}
		
	}
	.popup-dialog .popup-dialog-wrap{
		padding: 0 16px;
	}
	
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	
}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {
	header .toggle-button{
		display: none;
	}
	.toggle-menu a{
		margin-right: 16px;
	}
}

/* Extra large (xl) */
@media (min-width : 1200px) {
	
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {

}
